[Unit]
Description=Klipper
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=printer
RemainAfterExit=yes
ExecStart=/home/printer/klippy-env/bin/python $PARAMETER1 $PARAMETER2 $PARAMETER3 $PARAMETER4 $PARAMETER5
Environment=PARAMETER1="/home/printer/klipper/klippy/klippy.py"
Environment=PARAMETER2="-a /home/printer/printer_data/run/klipper.sock"
Environment=PARAMETER3="-I /home/printer/printer_data/run/klipper.tty"
Environment=PARAMETER4="-l /home/printer/printer_data/logs/klipper.log"
Environment=PARAMETER5="/home/printer/printer_data/config/printer-simulavr.cfg"
Restart=always
RestartSec=10
