[Unit]
Description=API Server for Klipper
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=printer
RemainAfterExit=yes
WorkingDirectory=/home/printer/moonraker
ExecStart=/home/printer/moonraker-env/bin/python $PARAMETER1 $PARAMETER2 $PARAMETER3
Environment=PARAMETER1="/home/printer/moonraker/moonraker/moonraker.py"
Environment=PARAMETER2="-d /home/printer/printer_data"
Environment=PARAMETER3="-l /home/printer/printer_data/logs/moonraker.log"
Restart=always
RestartSec=10
