[Unit]
Description=Moonraker-Obico
Requires=network-online.target
After=network-online.target moonraker.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=printer
WorkingDirectory=/home/printer/obico-env
Environment=PYTHONPATH="/home/printer/moonraker-obico"
ExecStart=/home/printer/obico-env/bin/python $PARAMETER1 $PARAMETER2
Environment=PARAMETER1="-m moonraker_obico.app"
Environment=PARAMETER2="-c /home/printer/printer_data/config/moonraker-obico.cfg"
Restart=always
RestartSec=5
